.home-main .bg-image:nth-child(2) {
    bottom: 0px;
    width: 120px;
}

.bg-image:nth-child(3) {
    bottom: 0px;
    right: 0px;
    width: 300px;
}

.home-head {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .home-head {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.home-main .home-details {
    display: flex;
}



.home-main .home-details>form>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

@media (max-width: 992px) {
    .home-main .home-details>form>div {
        grid-template-columns: repeat(2, 1fr);
    }
}

.home-main .home-details>form label,
.home-main .home-details>form input,
.home-main .home-details>form select {
    display: block;
    font-size: 14px;
    color: var(--textPrimary);
    font-family: 'Montserrat', sans-serif;
}

.home-main .home-details>form input,
.home-main .home-details>form select {
    border: none;
    border-radius: 3px;
    padding: 6px 5px;
    background-color: rgb(251, 240, 240);
    width: 100%;
}

.home-main .home-details>form .payment-radio-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    padding-top: 10px;
}

@media (max-width: 576px) {
    .home-main .home-details>form>div {
        grid-template-columns: repeat(1, 1fr);
    }

    .home-main .home-details>form .payment-radio-buttons {
        width: 100%;
        justify-content: start;
        gap: 10px;
    }

}

.home-main .home-details>form .payment-radio-buttons input {
    padding: 5px;
    width: 15px;
    height: 15px;
    display: block;
    cursor: pointer;
}

.home-main .home-details>form .payment-radio-buttons label {
    margin-right: 20px;
    cursor: pointer;
}

.home-main .home-details>form {
    flex: 2;
    padding: 20px 40px;
    background-color: var(--light);
}

.home-main .home-details>form>button {
    margin-top: 20px;
}

.home-main .home-details {
    margin-bottom: 10px;
}

.home-main .home-details>div {
    background-color: var(--dark);
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-main .home-details>div button {
    width: fit-content;

}

@media (max-width: 992px) {

    .home-main .home-details>form,
    .home-main .home-details>div {
        padding: 20px 20px;
    }

    .home-main .bg-image:nth-child(2) {
        width: 100px;
    }

    .bg-image:nth-child(3) {
        width: 250px;
    }
}

.home-main .causes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 50px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo-container>div {
    flex: 1;
}

.logo-container>div>img {
    width: 100%;
}

.home-main .articles-section .articles-container {
    margin: 30px 0;
}

@media (max-width: 768px) {
    .home-main .causes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .home-main .causes {
        grid-template-columns: repeat(1, 1fr);
    }
}