.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    color: #ffffff;
}

.navbar>a>img {
    width: 130px;
}

.navbar .nav-active {
    /* text-decoration: underline !important; */
    border-bottom: 1px solid white;
}

.navbar ul>a {
    /* padding-bottom: 2px; */
}

.ant-dropdown-menu {
    border-radius: 0px !important;
}

.navbar .ant-select-selection-item,
.navbar .ant-select-arrow {
    color: white;
}

.ant-dropdown-menu li {
    color: rgba(37, 42, 52, 0.7) !important;
}

.ant-dropdown-menu .nav-active {
    text-decoration: underline;
    color: var(--primary) !important;

}

.ant-dropdown-menu li:hover {
    color: var(--primary) !important;
}

.navbar>ul {
    gap: 30px;
    flex: 1;
}

@media (max-width: 992px) {
    .navbar {
        padding: 25px 5%;
    }

    .navbar>a>img {
        width: 110px;
    }

    .navbar>ul {
        gap: 20px;
        padding: 0px 10px;
    }

    .navbar .searchButton {
        padding: 8px !important;
    }

    .navbar>div {
        gap: 7px !important;
    }

}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 2%;
    }

    .navbar .searchButton {
        padding: 6px !important;
    }
}

@media (max-width: 576px) {
    .navbar .searchButton {
        padding: 2px !important;
        font-size: 4px;
    }

    .navbar>div {
        gap: 4px !important;
    }

    .navbar .MuiSvgIcon-root {
        font-size: 20px;
    }

    .navbar .helper-p3 .MuiSvgIcon-root {
        font-size: 18px;
    }

    .navbar>a>img {
        width: 85px;
    }

    .navbar button {
        font-size: 12px;
        padding: 1px 4px;
    }

}

.navbar>div {
    gap: 10px;
}

.transparent li,
.transparent a,
.transparent p {
    color: #ffffff;
}

.transparent .active {
    text-decoration: underline;
}

.navbar .searchButton {

    border: 1px solid #000000;
    padding: 11.5px;
    transition: all 0.25s ease;
}

.navbar .searchButton:hover {
    background-color: var(--light);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.transparent .searchButton {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.footer {
    background-color: #22262F;
}

.footer .rating {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: var(--light);
}

.footer>div {
    display: flex;
    gap: 50px;
    padding-left: 8%;
    padding-right: 8%;
}

.footer h4,
.footer .logo {
    margin-bottom: 20px;
}

.footer h4:nth-last-child(2) {
    margin-bottom: 5px;
}

.footer .logo {
    width: 130px;
}

@media (max-width: 992px) {
    .footer>div {
        gap: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer .logo {
        width: 110px;
    }
}

@media (max-width: 768px) {
    .footer>div {
        gap: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.footer .footer-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer .footer-details {
        flex-direction: column;
    }


}

.footer .footer-details>div {
    flex: 1;
}

.footer .footer-newsletter>div,
.footer .footer-newsletter>form {
    display: flex;
    width: 100%;
}

.footer .footer-newsletter>form>input {
    width: 100%;
    border: none;
    padding: 10px;

}

.footer .footer-newsletter>p {
    margin-bottom: 20px
}

.footer .contact-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.footer .contact-icons .MuiSvgIcon-root {
    background-color: #ffffff;
    font-size: 32px;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.25s ease;
}

.footer .contact-icons .MuiSvgIcon-root:hover {
    background-color: var(--primary);
    color: var(--light);
}

.trapezium {
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: var(--primary);
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
    z-index: -1;
}



.patch-image {
    bottom: 0px;
    right: 0px;
    width: 300px;
}

@media (max-width: 768px) {
    .trapezium {
        width: 55%;
        background-color: var(--primary);
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
    }

    .patch-image {
        width: 200px;
    }

}

@media (max-width: 576px) {
    .patch-image {
        width: 150px;
    }
}

.section1 {
    padding-bottom: 20px;
    z-index: 0;
}

.subheading {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.subheading>div {
    border: 0.5px solid var(--textPrimary);
    width: 60px;
}

.cause-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.cause-card .text-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cause-card .image-container {
    width: 100%;
    height: 200px;
    background-color: #D9D9D9;

}

.cause-card .image-container img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80%;

}

.cause-card button {
    /* margin-top: 100%; */
    padding: 5px 24px;
    width: fit-content;
}


.progress-container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.progressbar {
    margin: 5px 0;
    width: 100%;
    height: 8px;
    background: #C7E7DF;
}

.progressbar>div {
    background-color: var(--primary);
    height: 8px;
}

.fact-card {
    /* background-color: rgba(37, 42, 52, 0.08); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    /* height: 400px; */
    gap: 20px;
}

.facts-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    /* margin: 30px 0; */
}

@media (max-width: 768px) {
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .facts-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .cause-card .image-container img {
        width: 60%;
    }

}

.fact-card>h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Nunito";
}

.fact-card>.image {
    width: 120px;
    height: 120px;
    border: 5px solid var(--primary);
    /* padding: 20px; */
    background-color: var(--light);
    border-radius: 50%;
}

.fact-card>.image>div {
    width: 110px;
    height: 110px;
    padding: 20px;
    background-color: var(--light);
    border-radius: 50%;
}

/* RoundedContainer.css */

.rounded-container {
    width: 200px;
    /* Set the width and height as per your design */
    height: 200px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.rounded-container::before,
.rounded-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    /* Set border thickness */
    border-radius: 50%;
}

.rounded-container::before {
    border-image: linear-gradient(to right, #ff0000, #00ff00);
    /* Define your gradient colors */
    border-image-slice: 1;
    animation: border-animation 2s linear infinite;
    /* Adjust animation duration as needed */
}

.rounded-container::after {
    border-image: linear-gradient(to left, #ff0000, #00ff00);
    /* Define your gradient colors */
    border-image-slice: 1;
    animation: border-animation 2s linear infinite;
    /* Adjust animation duration as needed */
}

@keyframes border-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.rounded-container {
    width: 200px;
    /* Set the width and height as per your design */
    height: 200px;
    border: 5px solid transparent;
    /* Set border thickness */
    background: linear-gradient(to right, #ff0000, #00ff00);
    /* Define your gradient colors */
    /* background-origin: border-box; */
    /* background-clip: content-box, border-box; */


}

.rounded-container>div {
    width: 180px;
    height: 180px;
    background-color: white;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rounded-container::before {
    /* content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #00f;
    border-radius: 50%;
    animation: border-animation 2s linear infinite; */
    /* Adjust animation duration as needed */
}

@keyframes border-animation {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

.fact-card>.image img {
    width: 100%;
}

.article-card {
    width: 100%;
    box-shadow: 0px 10px 30px 0px rgba(37, 42, 52, 0.08);

}

.article-card .grey-container {
    width: 100%;
    height: 225px;
    background-color: #D9D9D9;
}

.article-card .text-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-between {
    display: flex;
}

.flex-between>p {
    width: fit-content;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2px;
    color: #999999
}

.article-card button {
    margin-top: auto;
    padding: 5px 24px;
    width: fit-content;
}

/* charity section and about section */

.about-section {
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-section>div {
    flex: 1;
}

.about-section .data-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.combined-container>div:nth-child(1) {
    width: 350px;
    height: 350px;
    border: 10px solid rgba(195, 44, 62, 0.2);
    position: relative;
    background-color: #D9D9D9;
    margin-bottom: 80px;
}



.combined-container>div>div {
    width: 250px;
    height: 250px;
    border: 10px solid rgba(195, 44, 62, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #D9D9D9;

}

.combined-container>div>div img {
    position: absolute;
    width: 150px;
    right: 0px;
    bottom: 0px;
}

.charity-progress-container>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.charity-progress-container .progress {
    width: 100%;
    height: 8px;
    background-color: #DCDCDC;
    margin: 10px 0px;
}

.charity-progress-container .progress>div {
    height: 8px;
    background-color: var(--primary);
}

.white-text-container {
    font-size: 14px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-text-container>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .combined-container>div:nth-child(1) {
        width: 300px;
        height: 300px;
    }

    .about-section {
        gap: 30px;
    }

    .combined-container>div>div {
        width: 220px;
        height: 220px;
    }

    .combined-container>div>div img {
        width: 150px;
    }

    .white-text-container {
        padding: 5px 8px;
    }

}

@media (max-width: 768px) {
    .about-section {
        gap: 60px;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }
}

@media (max-width: 576px) {
    .about-section {
        align-items: start;
    }

    .combined-container>div:nth-child(1) {
        width: 250px;
        height: 250px;
    }

    .combined-container>div>div {
        width: 220px;
        height: 220px;
        left: 25%;
    }

    .combined-container>div>div img {
        width: 130px;
    }
}

/* testiomonial-section */

.testimonial-conatainer {
    background-color: rgba(37, 42, 52, 0.85);

}

.slick-prev:before,
.slick-next:before {
    font-size: 50px !important;
}

.testimonial-conatainer .slick-prev:before {
    content: "";
}

.testimonial-conatainer .slick-next:before {
    content: "";
}

.testimonial-conatainer .testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonial-conatainer .horizontal-line {
    border-color: #ffffff;
}

.testimonial-conatainer .circle {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

.feature-card {
    padding: 30px 20px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feature-card .image-container {
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.feature-card li {
    margin: 10px 0;
}

.feature-card .image-container>img {
    width: 100%;
}


.donate-now-modal>div {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 40px;
    font-size: 18px;
    width: 60%;
}

.donate-now-modal .custom-amount {
    width: 85%;
    display: flex;
    gap: 20px;
}

.donate-now-modal .custom-amount>div {
    display: flex;
}

.donate-now-modal .amount-buttons {
    width: 75%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media(max-width:992px) {

    .donate-now-modal .custom-amount,
    .donate-now-modal .amount-buttons {
        width: 100%;
    }

}

.donate-now-modal h6 {
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.donate-now-modal label {
    cursor: pointer;
}

.donate-now-modal .radio-button-container {
    display: inline-flex;
    gap: 5px;
    /* display: inline-block; */
    margin-right: 30px;

}

.donate-now-modal .total-donation-container {
    width: 60%;
    display: flex;
}

@media (max-width:768px) {
    .donate-now-modal>div {
        width: 75%;
    }

    .donate-now-modal .right-radio {
        margin-left: 0px;
    }

    .donate-now-modal>div {
        gap: 30px;
    }

    .donate-now-modal .total-donation-container {
        width: 80%;
        display: flex;
    }

    .donate-now-modal .custom-amount {
        flex-direction: column;
    }
}

@media (max-width:576px) {
    .donate-now-modal .radio-button-container {
        display: flex;
        margin-bottom: 10px;
    }
}

/* 
.donate-now-modal label,
.donate-now-modal input {
    display: block;
} */


.donate-now-modal input[type="text"],
.donate-now-modal input[type="email"],
.donate-now-modal textarea {
    resize: none;
    border: 1px solid #D9D7D7;
    background-color: var(--light);
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    font-size: 16px;
}

.donate-now-modal input[type="checkbox"],
.donate-now-modal input[type="radio"] {
    height: auto;
    cursor: pointer;
}

input[type="checkbox"] {
    border-color: red;
}

.donate-now-modal textarea {
    height: 150px;
    padding: 10px 10px;
}

.donate-now-modal .personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}